## Transform Address data ( PIVOTING)
1. Create one record for each customer with 2 address, one for shipping and another for billing address 
1. Write tarnsformed data into silver layer

In [0]:
show create table gizmobox.bronze.v_addresses

In [0]:
select 
  customer_id,
  address_type,
  address_line_1,
  city,
  state,
  postcode
from  gizmobox.bronze.v_addresses
order by customer_id;

In [0]:
select *
from (
    select 
      customer_id,
      address_type,
      address_line_1,
      city,
      state,
      postcode
    from  gizmobox.bronze.v_addresses
)
PIVOT ( MAX(address_line_1) as address_line_1,
        MAX(city) as city,
        MAX(state) as state,
        MAX(postcode) as postcode
      for address_type in ('shipping', 'billing')
)

In [0]:
create table gizmobox.silver.addresses
as
select *
from (
    select 
      customer_id,
      address_type,
      address_line_1,
      city,
      state,
      postcode
    from  gizmobox.bronze.v_addresses
)
PIVOT ( MAX(address_line_1) as address_line_1,
        MAX(city) as city,
        MAX(state) as state,
        MAX(postcode) as postcode
      for address_type in ('shipping', 'billing')
)

In [0]:
select * from gizmobox.silver.addresses